<div class="modal fade" id="date-selector-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-2">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    Transactions Between</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1">
                <div class="d-flex justify-content-center p-4">
                    <div class="position-relative" style="width: 50%;">
                        <input type="text" class="form-control" id="datepicker1"
                               placeholder="Select Start Date" style="border-radius: 5px;">
                        <i class="bi bi-calendar position-absolute"
                           style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-center p-4">
                    <div class="position-relative" style="width: 50%;">
                        <input type="text" class="form-control" id="datepicker2"
                               placeholder="Select End Date" style="border-radius: 5px;">
                        <i class="bi bi-calendar position-absolute"
                           style="right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        aria-label="Close" style="border-radius:50px">
                    Close
                </button>
                <button type="button" id="pdf-modal-submit-button"
                        class="btn btn-outline-primary" style="border-radius:50px" disabled>
                    <i class="bi bi-file-earmark-pdf"></i> Export PDF
                </button>
            </div>
        </div>
    </div>
</div>